:root {
    --bs-navbar-brand-font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-title {
    font-size: 20px;
    font-weight: 400;
}

.disabled {
    color: rgba(255, 255, 255, 0.25);
    pointer-events: none;
    cursor: default;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}


.form-control:focus {
    color: #dee2e6;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}




input[type="search"]::-webkit-search-cancel-button {
    filter: brightness(1000%);
}

.carousel-content {
    width: 100vw;
    height: 50vh;
}

.justify-self-center {
    justify-self: end;
    align-self: self-end;
}

.image-responsive {
    width: 500px;
    height: 500px;
}

@media (min-width: 1400px ) {
    .image-responsive {
        width: 500px;
        height: 500px;
    }
}

@media (min-width: 1200px ) and (max-width: 1399px) {
    .image-responsive {
        width: 451px;
        height: 451px;
    }
}

@media (min-width: 992px ) and (max-width: 1199px) {
    .image-responsive {
        width: 376px;
        height: 376px;
    }
}

@media (min-width: 768px ) and (max-width: 991px) {
    .image-responsive {
        width: 276px;
        height: 276px;
    }
}